
<div class="container welcome" >
  <p class="welcomeText" style="display:inline;">I'm traveling to</p>
  <form id="search" autocomplete="off" style="display:inline;">
    <input type="text" data-ng-model="city" name="City" id="searchInput" class="welcomeText" style="text-align:center;"/>
  </form>
  <br/><br/>

  <div class="" style="margin-left:auto; margin-right:auto; width:80%; margin-top:2%;">
    <div class="" style="float:left;">
      <p class="welcomeText" style="display:inline; font-size:250%; display:table-cell;vertical-align:middle; "> and want to listen to songs that are </p>
    </div>
    <div class="" style="float:left; margin-left:2%;">



      <div class="switch-toggle well toggleButton">  
        <input id="popular" name="view" type="radio" checked>
        <label for="popular" ng-click="setPopular()">Popular</label>
        <input id="local" name="view" type="radio">
        <label for="local" ng-click="setLocal()">Local</label>
        <a class="btn btn-white btn-primary btn-lg"></a>
      </div>
    </div>  
    <div class="" style="clear:both;">
      <a type="button" class="btn btn-primary btn-lg" href="/#/playlist/{{city}}/{{type}}" style="margin-top:20%;">Go!</a>
    </div>
  </div>
  <div class="" style="margin-left:auto; margin-right:auto; width:80%; margin-top:2%; color:#333;" >
<p>Made with &#10084; at Spotify Unify</p>
  </div>
</div>







