@import url(http://fonts.googleapis.com/css?family=Kalam:700);

html{
    background: url(../img/bcground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y:scroll;
}
body{
    background-color:transparent;
}
table{
    margin: 0 auto;
    color: #fff;
    width:50%;

}
tr{
    background-color: #000;
}
h1{
    text-align: center;
    color: #fff;
}
p{
	margin-left: 15px;
}
#song{
    vertical-align: bottom;
}
.welcome{
padding-top:100px;
    text-align: center;
}
#searchInput{
font-family: 'Kalam', cursive;
color:#0C60FB;
    width:80%; 
    background: transparent;
    border: none;
    border-bottom: 7px solid #FFF;
}
#search input:focus{
    outline:none;
}
/*#search input:autofill{
    background-color: rgba(167, 219, 216, 0.0);
}*/

.welcomeText{
    color: #fff;
    font-family: sans-serif;
    font-size: 400%;
    font-weight: 700;
}

.right-addon input { padding-right: 30px; }
.right-addon .glyphicon { right: 0px;}
/*.pointer {
  cursor: pointer;
}*/

.toggleButton{
	width:260px;
    height:55px;
    color:#ddd;
    font-size:150%;
    background-color:rgba(0,0,0,0.3);
    border: solid #fff 0px;
    cursor: hand;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    background-color:rgba(0,0,0,0.4); 
}
.bold{
	font-weight:bold;
}
.playlistButton{
	background: url("../assets/images/create_playlist-white_bigger.svg") no-repeat scroll 0 0 transparent;
	background-size: 100%;
	min-height:50px;
	min-width:300px;
	outline:none;
	box-shadow:none;
	border:none;
}
.playlistButtonContainer{
	margin:0 auto;
	width:500px;
	text-align:center;
}
.playlistContainer{
	margin: 0 auto;	
}
.btn {
  background: #4CB668;
  border: solid #2FA04D 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
<<<<<<< HEAD
  width:300px;
    font-size:200%;
}

.btn-white {
  background: rgba(255,255,255,0.4);
  border: solid #fff 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
  width:300px;
    font-size:200%;
=======
  width:400px;
  height:80px;
  font-size:200%;
>>>>>>> origin/master
}

.btn:hover, a .btn:hover {  
  background: #4CB668;
  border: solid #2FA04D 5px;
  text-decoration: none;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
