<div class="playlistContainer">
  <h1>Popular songs in {{location}}</h1>
  <div class="playlistButtonContainer">
    <button ng-click="createPlaylist()" class="playlistButton"/>
  </div> 
  <table>
    <tr ng-repeat="track in tracks">
      <td><img ng-src="{{track.album.images[0].url}}" height="100px" width="100px"/></td>
      <td id="song">
        <h4 class="ellipsis bold">{{track.name}}</h4>
        <p class="ellipsis">{{track.artists[0].name}}</p>
        <audio ex-play controls>
          <source ng-src="{{track.preview_url}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
  </table>
</div>
