<div class="container">
  <h1>Popular songs in {{location}}</h1>
  <table>
    <tr ng-repeat="track in tracks">
      <td><img ng-src="{{track.album.images[0].url}}" height="100px" width="100px"/></td>
      <td id="song">
        {{track.name}}<br>
        <b>{{track.artists[0].name}}</b><br>
        <audio controls>
          <source ng-src="{{track.preview_url}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </td>
    </tr>
  </table>
  <img src="assets/images/create-playlist-green.png" alt="Create Playlist" ng-click="createPlaylist()">
</div>
